* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.editor-page {
	display: grid;
	grid-template-columns: 1fr auto;
}

.editor {
	min-height: 90dvh;
	width: 100% !important;
}

.pdf-page {
	width: 21cm;
	height: 29.7cm;
}